@import '../../root.scss';

.CharacterSearch {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 2%;
    width: 100%;
    text-align: center;

    input {
        padding: 1%;
        font-size: 1rem;
        border: 4px solid;
        border-image: linear-gradient(to right, var(--ColorOne), var(--ColorTwo)) 1;
        width: 20rem;
        height: 3rem;
        align-self: center;
        outline: none;

        @media screen and (max-width: 400px) {
            width: 20rem;
            min-height: 3rem;   
        }
    }
    
    .Spinner {
        width: 3rem;
        height: 3rem;
        border: 5px solid transparent;
        align-self: center;
        border-image: linear-gradient(45deg, var(--ColorOne), var(--ColorTwo)) 1;
        margin-top: 1rem;
        animation: spin 1s linear infinite;

        @keyframes spin {
            to {
                transform: rotate(360deg);
            }
        }
    }

    p {
        color: var(--White);
        text-transform: uppercase;
        font-size: 1rem;
        margin-top: 1rem;
    }
}

